#card {
    /* height: 200px;
    width: 160px; */
    /* font-size: 26px;
    background-color: grey;
    border: 5px solid orange;
    border-radius: 10%; */
    position: fixed;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
