#mainCard {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin:  10px;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    font-size: 26px;
    color: white;
    border: 5px solid white;
    background-color:rgb(242, 113, 28);
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}